version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  versioning-strategy: increase
  labels:
    - "dependencies"
    - "automerge"
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "husky"
      versions: ["5.x", "6.x"]
