language: node_js
cache: npm
node_js:
  - 11
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
notifications:
  email:
    recipients:
      - saiichihashimoto@gmail.com
    on_success: never
    on_failure: always
jobs:
  include:
    - stage: release
      node_js: lts/*
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release
